# Ignore any directory named skinVenv (anywhere in the project)
**/skinVenv/

# Ignore IPython-related files
**/.ipynb_checkpoints/
*.ipynb

#ignore readme and licence 
README
README.*
LICENSE
LICENSE.*
