<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin Disease Classifier</title>
    <link rel="icon" href="static/img/logo.png">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <!-- canvas  -->
    <canvas id="canvas"></canvas>

    <!-- toggle theme  -->
    <div class="theme-toggle top-left" id="toggle-theme">
        <div class="toggle-slider"></div>
        <div class="toggle-btn"></div>
    </div>

    <!-- info button -->
    <div class="fixed-info-button" id="open-info">
        <i class="fas fa-circle-info"> </i>
    </div>

    <!-- form  -->
    <div class="app-container">
        <div class="form-box">
            <form method="POST" enctype="multipart/form-data">
                <div class="logo-title">
                    <span class="skin">Skin</span>
                    <span class="slash">/</span>
                    <span class="doctor">DOCTOR</span>
                </div>
                <!-- Upload Area Wrapper -->
                <div id="upload-container" class="upload-container">
                    <div class="upload-box" id="upload-box">
                        <input type="file" name="image" id="file-input" accept="image/*" hidden>
                        <input type="file" accept="image/*" capture="user" id="camera-input" hidden>

                        <div class="upload-content">
                            <i class="fa-solid fa-cloud-arrow-up upload-icon"></i>
                            <p>Drag & Drop to Upload File</p>
                            <span>OR</span>
                            <div class="button-group">
                                <button type="button" class="browse-btn btn" onclick="fileInput.click()">Browse
                                    File</button>
                                <button type="button" class="camera-btn btn" onclick="openCamera()">Open
                                    Camera</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Image Preview (always present but hidden initially) -->
                <div class="image-preview" id="image-preview" style="display: none;">
                    <img id="preview" src="{{uploaded_image}}" alt="Preview">
                </div>

                {% if prediction %}
                <div class="prediction-box" id="prediction-box">
                    <strong>Prediction:</strong> {{ prediction }}
                </div>
                {% elif error %}
                <div class="error-message" id="error-message">
                    <strong>Error:</strong> {{ error }}
                </div>
                {% endif %}

                <label for="suggestion">Suggestion</label>
                <textarea name="suggestion" placeholder="The Suggestion about Your Health" rows="8" readonly>{% if confidence == -1 %}The Suggestion about Your Health
                {% elif confidence*100 < 85 %}Sorry, The model is unsure about this result.
Please consider consulting a certified skin professional.
                {% else %}{{suggestion}}
            {% endif %}</textarea>
                <!-- before submit form  -->
                <div class="button-group" id="orginal-button">
                    <button type="button" class="clear-btn btn" onclick="clearForm()">Clear</button>
                    <button type="submit" class="submit-btn btn" onclick="handleSubmit(event)">Submit</button>
                </div>

                <!-- Processing form  -->
                <div id="loading-button" class="loading-wrapper" style="display: none;">
                    <button class="loading-btn" disabled>
                        <i class="fa fa-spinner fa-spin"></i> Processing...
                    </button>
                </div>

                <!-- after submit form  -->
                <div class="button-group" style="display: none;" id="post-submit-buttons">
                    <button type="button" class="contact-btn btn" onclick="contact()">Contact</button>
                    <button type="button" class="clear-btn btn" onclick="clearForm()">Clear</button>
                </div>
            </form>
        </div>
    </div>
    <!-- info container  -->
    <div id="info-overlay" class="container d-none">
        <div class="offline-content text-center">
            <i class="fas fa-circle-info"></i>
            <h2 class="mt-4">About This App</h2>
            <p>This is a web-based AI application that predicts skin diseases from uploaded images and provides professional suggestions based on the diagnosis.</p>
            <p>Auto background cleanup runs every 20 minutes.</p>
            <p>Fully responsive, light/dark themed, built with Flask + JS</p>
            <div>
                <a class="info-connect-btn info-btn" href="https://www.linkedin.com/in/gotsanjay/" target="_blank">
                    <i class="fab fa-linkedin"></i> linkedin
                </a>
                <button id="close-info" class="close-info info-btn"><i class="fas fa-times"></i> Close</button>
            </div>
        </div>
    </div>
    {% if show_post_buttons %}
    <script>
        document.getElementById('loading-button').style.display = 'none';
        document.getElementById('orginal-button').style.display = 'none';
        document.getElementById('post-submit-buttons').style.display = 'flex';
        document.getElementById('upload-container').style.display = 'none';
        document.getElementById('image-preview').style.display = 'block';
    </script>
    {% endif %}
    <script>
        const body = document.body;
        const toggleButton = document.getElementById('toggle-theme');

        // Load saved theme
        if (localStorage.getItem('theme') === 'dark') {
            body.classList.add('dark');
        }

        toggleButton.addEventListener('click', () => {
            body.classList.toggle('dark');
            const theme = body.classList.contains('dark') ? 'dark' : 'light';
            localStorage.setItem('theme', theme);
        });

        function handleSubmit(event) {
            event.preventDefault();
            document.getElementById("orginal-button").style.display = 'none';
            document.getElementById("loading-button").style.display = 'contents';

            setTimeout(() => {
                event.target.closest('form').submit();
            }, 300);
        }

        function contact() {
            // alert("Redirecting to contact...");
            window.open('https://www.linkedin.com/in/gotsanjay/', '_blank');
        }
        function clearForm() {
            document.getElementById('preview').src = '';

            const predictionBox = document.getElementById('prediction-box');
            if (predictionBox) {
                predictionBox.remove();
            }
            document.getElementById('image-preview').style.display = 'none';
            document.getElementById('upload-container').style.display = 'block';
            document.getElementById('file-input').value = '';
            document.getElementById('camera-input').value = '';
            document.querySelector('textarea[name="suggestion"]').value = "";
            document.querySelector('input[type="file"]').value = "";
            window.location.href = '/';
        }
        const infoContainer = document.getElementById('info-overlay');
        const openInfoButton = document.getElementById('open-info');
        const closeInfoButton = document.getElementById('close-info');

        openInfoButton.addEventListener('click', () => {
            infoContainer.style.display = 'flex';
        });

        closeInfoButton.addEventListener('click', () => {
            infoContainer.style.display = 'none';
        });
        document.addEventListener('keydown', (e) => {
            if (e.key === 'Escape') {
                closeInfoButton.click();
            }
        });
    </script>
    <script src="static/fileUpload.js"></script>
    <script src="static/reptile.js"></script>
    <script>
        $(document).ready(function () {
            const $err = $('#error-message');
            if ($err) {
                $err.fadeIn(300);
                setTimeout(() => {
                    $err.animate(
                        {
                            opacity: 0,
                            marginTop: '-40px',
                            width: '0px',
                            height: '0px'
                        }, 600, () => $err.hide()
                    );
                }, 3000);
            }
        });
    </script>
</body>

</html>